.my_posts {
    font-size: 20px;
    color: deeppink;
}

.new_post {
    font-size: 17px;
    color: gainsboro;
}

.item {
    color: darksalmon;
}

.textarea {
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
}