.header {
    grid-area: h;
    background-color: blueviolet;
}
  
.header img {
    width: 30px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: antiquewhite;
    text-decoration: none;
    padding: 20px 20px;
}